In [1]:
#Import libraries
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
%matplotlib inline

In [2]:
#Assign paths
quebec_covid19_path = Path('Resources/COVID-19_Hospitalizations/Quebec_COVID-19_Hospitalizations.csv')
ontario_covid19_path = Path('Resources/COVID-19_Hospitalizations/Ontario_COVID-19_Hospitalizations.csv')
alberta_covid19_path = Path('Resources/COVID-19_Hospitalizations/Alberta_COVID-19_hospitalizations.csv')
saskatchewan_covid19_path = Path('Resources/COVID-19_Hospitalizations/Saskatchewan__COVID-19_Hospitalizations.csv')
manitoba_covid19_path = Path('Resources/COVID-19_Hospitalizations/Manitoba_COVID-19_hospitalizations.csv')

In [3]:
#Read CSV files through Pandas
quebec_covid19_df = pd.read_csv(quebec_covid19_path, index_col='Date', infer_datetime_format=True, parse_dates=True)
ontario_covid19_df = pd.read_csv(ontario_covid19_path, index_col='date', infer_datetime_format=True, parse_dates=True))
alberta_covid19_df = pd.read_csv(alberta_covid19_path, index_col='Date reported to Alberta Health', infer_datetime_format=True, parse_dates=True))
saskatchewan_covid19_df = pd.read_csv(saskatchewan_covid19_path, index_col='Date', infer_datetime_format=True, parse_dates=True))
manitoba_covid19_df = pd.read_csv(manitoba_covid19_path, index_col='Date', infer_datetime_format=True, parse_dates=True))

In [4]:
quebec_covid19_df.tail()

,ACT_Hsi_RSS01,ACT_Hsi_RSS02,ACT_Hsi_RSS03,ACT_Hsi_RSS04,ACT_Hsi_RSS05,ACT_Hsi_RSS06,ACT_Hsi_RSS07,ACT_Hsi_RSS08,ACT_Hsi_RSS09,ACT_Hsi_RSS10,...,ACT_Total_RSS10,ACT_Total_RSS11,ACT_Total_RSS12,ACT_Total_RSS13,ACT_Total_RSS14,ACT_Total_RSS15,ACT_Total_RSS16,ACT_Total_RSS17,ACT_Total_RSS18,ACT_Total_RSS99
Date,,,,,,,,,,,,,,,,,,,,,
2020-04-14,1,3,30,38,48,441,0,3,0,0,...,0,0,7,63,35,18,89,1,0,927
2020-04-13,0,2,30,39,43,420,1,4,0,0,...,0,0,6,61,37,17,93,1,0,891
2020-04-12,0,2,29,36,38,382,1,5,0,0,...,0,0,6,56,37,12,85,1,0,830
2020-04-11,0,1,27,32,41,365,0,5,0,0,...,0,0,7,48,36,12,81,1,0,790
2020-04-10,0,2,29,30,36,356,0,5,0,0,...,0,0,6,45,35,13,71,1,0,758

In [5]:
#Drop unnecessary columns + reverse row order to match other COVID-19 datasets
quebec_covid19_df.drop(quebec_covid19_df.iloc[:, 0:38], inplace=True, axis=1)
quebec_covid19_df = quebec_covid19_df.iloc[::-1]

In [6]:
quebec_covid19_df.head()

,ACT_Total_RSS01,ACT_Total_RSS02,ACT_Total_RSS03,ACT_Total_RSS04,ACT_Total_RSS05,ACT_Total_RSS06,ACT_Total_RSS07,ACT_Total_RSS08,ACT_Total_RSS09,ACT_Total_RSS10,ACT_Total_RSS11,ACT_Total_RSS12,ACT_Total_RSS13,ACT_Total_RSS14,ACT_Total_RSS15,ACT_Total_RSS16,ACT_Total_RSS17,ACT_Total_RSS18,ACT_Total_RSS99
Date,,,,,,,,,,,,,,,,,,,
2020-04-10,1,2,41,41,48,446,3,5,0,0,0,6,45,35,13,71,1,0,758
2020-04-11,1,1,39,43,52,461,3,5,0,0,0,7,48,36,12,81,1,0,790
2020-04-12,1,2,41,47,49,484,4,5,0,0,0,6,56,37,12,85,1,0,830
2020-04-13,1,2,40,47,53,521,8,4,0,0,0,6,61,37,17,93,1,0,891
2020-04-14,2,3,40,45,55,557,9,3,0,0,0,7,63,35,18,89,1,0,927

In [7]:
#Sum total values per row to capture daily total hospitalization count
quebec_covid19_hospitalizations = quebec_covid19_df.sum(axis=1)
quebec_covid19_hospitalizations

Date
2020-04-10    1516
2020-04-11    1580
2020-04-12    1660
2020-04-13    1782
2020-04-14    1854
              ...
2022-01-01    2462
2022-01-02    2792
2022-01-03    3184
2022-01-04    3500
2022-01-05    3906
Length: 636, dtype: int64

In [24]:
quebec_covid19_hospitalizations.columns = ['Quebec_Count']
#Matthew suggested adding a column at the end of the CSV with the aggregated count and add the sum numbers there. That's the method he's aware of

In [25]:
quebec_covid19_hospitalizations

Date
2020-04-10    1516
2020-04-11    1580
2020-04-12    1660
2020-04-13    1782
2020-04-14    1854
              ...
2022-01-01    2462
2022-01-02    2792
2022-01-03    3184
2022-01-04    3500
2022-01-05    3906
Length: 636, dtype: int64

In [12]:
#quebec_covid19_hospitalizations.to_csv('Resources/COVID-19_Hospitalizations/Quebec_Count.csv')

In [18]:
ontario_covid19_df.head()

,oh_region,icu_current_covid,icu_current_covid_vented,hospitalizations,icu_crci_total,icu_crci_total_vented,icu_former_covid,icu_former_covid_vented
date,,,,,,,,
2020-04-02,CENTRAL,51,39,113,0,0,0,0
2020-04-03,CENTRAL,57,52,141,0,0,0,0
2020-04-04,CENTRAL,65,57,143,0,0,0,0
2020-04-05,CENTRAL,65,55,174,0,0,0,0
2020-04-06,CENTRAL,73,58,187,0,0,0,0

In [16]:
ontario_covid19_df.drop(ontario_covid19_df.iloc[:, 0:3], inplace=True, axis=1)
ontario_covid19_df

,hospitalizations,icu_crci_total,icu_crci_total_vented,icu_former_covid,icu_former_covid_vented
date,,,,,
2020-04-02,113,0,0,0,0
2020-04-03,141,0,0,0,0
2020-04-04,143,0,0,0,0
2020-04-05,174,0,0,0,0
2020-04-06,187,0,0,0,0
...,...,...,...,...,...
2022-01-01,432,90,60,3,2
2022-01-02,460,96,60,2,1
2022-01-03,506,99,61,3,2
2022-01-04,575,106,59,2,2
2022-01-05,648,121,65,2,3

In [17]:
ontario_covid19_df.drop(ontario_covid19_df.iloc[:, 1:], inplace=True, axis=1)

In [22]:
ontario_covid19_df.columns = ['Ontario_Count']

In [23]:
ontario_covid19_df

            Ontario_Count
date
2020-04-02            113
2020-04-03            141
2020-04-04            143
2020-04-05            174
2020-04-06            187
...                   ...
2022-01-01            432
2022-01-02            460
2022-01-03            506
2022-01-04            575
2022-01-05            648

[3215 rows x 1 columns]

In [19]:
alberta_covid19_df.head()

,Unnamed: 0,Number of lab tests,Cumulative number of lab tests,Number of cases,Cumulative number of cases,Active cases,Currently hospitalized,Currently in ICU,Cumulative number of deaths,Number of deaths,Number of variants of concern,Percent positivity
Date reported to Alberta Health,,,,,,,,,,,,
2020-03-06,1,60,511,1,1,1,0,0,0,0,0,5.00
2020-03-07,2,281,792,0,0,1,0,0,0,0,0,0.00
2020-03-08,3,454,1246,0,0,1,0,0,0,0,0,0.00
2020-03-09,4,643,1889,6,7,7,1,0,0,0,0,1.71
2020-03-10,5,784,2673,9,16,16,1,0,0,0,0,1.91

In [26]:
alberta_covid19_df.drop(alberta_covid19_df.iloc[:, 0:6], inplace=True, axis=1)

In [28]:
alberta_covid19_df.drop(alberta_covid19_df.iloc[:, 1:], inplace=True, axis=1)

In [31]:
alberta_covid19_df.index.names = ['Date']

In [33]:
alberta_covid19_df.columns = ['Alberta_Count']

In [34]:
alberta_covid19_df

            Alberta_Count
Date
2020-03-06              0
2020-03-07              0
2020-03-08              0
2020-03-09              1
2020-03-10              1
...                   ...
2021-12-31            411
2022-01-01            419
2022-01-02            441
2022-01-03            453
2022-01-04            470

[670 rows x 1 columns]

In [42]:
saskatchewan_covid19_df.head()

,Region,Inpatient Hospitalizations,ICU Hospitalizations
Date,,,
2020/08/04,Far North West,0.0,0.0
2020/08/04,Far North West,NaN,NaN
2020/08/04,Far North Central,0.0,0.0
2020/08/04,Far North East,0.0,0.0
2020/08/04,Far North East,NaN,NaN

In [43]:
saskatchewan_covid19_df.isnull().sum()

Region                            0
Inpatient Hospitalizations     9880
ICU Hospitalizations          10030
dtype: int64

In [47]:
saskatchewan_covid19_df.dropna(inplace=True)

In [48]:
saskatchewan_covid19_df.head()

,Region,Inpatient Hospitalizations,ICU Hospitalizations
Date,,,
2020/08/04,Far North West,0.0,0.0
2020/08/04,Far North West,0.0,0.0
2020/08/04,Far North Central,0.0,0.0
2020/08/04,Far North East,0.0,0.0
2020/08/04,Far North East,0.0,0.0

In [52]:
print(saskatchewan_covid19_df.columns)

Index(['Region', 'Inpatient Hospitalizations', 'ICU Hospitalizations'], dtype='object')

In [55]:
saskatchewan_covid19_df.drop(['Region', 'ICU Hospitalizations'], inplace=True, axis=1)

In [57]:
saskatchewan_covid19_df.columns = ['Sask_Count']

In [65]:
saskatchewan_covid19_df['Sask_Count'] = saskatchewan_covid19_df['Sask_Count'].astype(int)

In [68]:
saskatchewan_covid19_df.head()

            Sask_Count
Date
2020/08/04           0
2020/08/04           0
2020/08/04           0
2020/08/04           0
2020/08/04           0

In [21]:
manitoba_covid19_df.head()

,ObjectId,Daily_Cases,Cumulative_Cases,Recoveries,Total_Recoveries,Deaths,Total_Deaths,New_ICU_Admissions,Current_ICU___Total,Current_ICU___Active,Cumulative_ICU_Admissions,New_IP_Admissions_Total,Current_Hospitalizations___Tota,Current_Hospitalizations___Acti,Cumulative_IP_Admissions,Non_ICU_Hospitalizations___Acti,Active_Cases__not_hospitalized_,Positivity_Rate,Daily_Tests,Cumulative_Tests
Date,,,,,,,,,,,,,,,,,,,,
2020/03/10 05:00:00+00,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0.0,99,341
2020/03/11 05:00:00+00,2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0.0,195,536
2020/03/12 05:00:00+00,3,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0.3,295,831
2020/03/13 05:00:00+00,4,2,2,0,0,0,0,0,0,0,0,1,0,0,2,0,2,0.3,405,1236
2020/03/14 05:00:00+00,5,1,3,0,0,0,0,0,0,0,0,0,0,0,2,0,3,0.3,333,1569